<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SmolTech</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/base.css" rel="stylesheet">
</head>
<body>
  {% block nav %}{% endblock nav %}
  {% block content %}{% endblock content %}
  {% block footer %}{% endblock footer %}
  {% block scripts%}{% endblock scripts %}
</body>
</html>
